/* Teal: #009faa */
/* gray blue #444957 */
/* light gray #eeeeee */
/* #72292c */

:root {
  --header-color: #009faa;
  --header-border-color: #C0B053;

}

body {
  font-family: arial;
  margin: 0;
  background-color: #eeeeee;
}

#page1 {
    /* background-image: linear-gradient(-7deg, #eeeeee 30%,  #444957 31.2%, #009faa 31.4%); */
    background-image: linear-gradient(-9deg, #eeeeee 30%,  var(--header-border-color) 30.1%, var(--header-border-color), 33.1%, var(--header-color) 33.2%);

    height: 100%;
    min-height: 500px;
}

#headline {
  height: 80%;
  width: 60%;
  float: left;
}

#links-container {
  width: 40%;
  float: left;
  font-size: 4em;
  padding-top: 2.4em;
}

#page2 {
  height: 600px;
}

h1 {
  color: black;
  font-size: 6em;
  padding: 20px;
  padding-top: 60px;
  text-align: left;
}

h2 {
  color: black;
  font-size: 2em;
  padding: 20px;
  padding-top: 0px;
  text-align: left;
}

a {
  color: black;
}

h3 {
  font-size: 3em;
  padding: 20px;
  padding-top: 0px;
  text-align: left;
}

div.project-card {
  background-color: white;
  width: 300px;
  height: 550px;
  margin: 2em;
  border-radius: 0.8em;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.1);
  float: left;
}

div.project-card:hover {
  /* maybe zoom into image on hover */
}

div.project-card img {
  width: 100%;
  height: 40%;
  border-top-left-radius: 0.8em;
  border-top-right-radius: 0.8em;
}

div.desc {
  padding: 1em;
  text-align: left;
}

div.title {
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 0.4em;
}

#footer {
  width: 100%;
  height: 2em;
  background: linear-gradient(0deg, #444957 80%, var(--header-border-color) 80%, var(--header-border-color) 100%);
  float: left;
  text-align: center;
  padding-top: 1em;
  color: white;
  font-size: 1.6em;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 4em;
    padding: 12px;
    padding-top: 40px;
  }

  h2 {
    font-size: 1.8em;
    padding: 10px;
    padding-top: 0px;
  }

}

@media only screen and (max-width: 1200px) {
  #headline {
    height: 80%;
    width: 100%;
  }
  #links-container {
    width: 100%;
    font-size: 3em;
    padding-top: 10%;
    text-align: center;
  }

}
